<template>
  <div class="md-layout checkout-container" v-if="getSelectedPack">
    <h1 v-if="!paymentCompleted">Class Pack Purchase Preview</h1>
    <div v-else>
        <h1>Thank you</h1>
        <h1>You have successfully purchased a class pack.</h1>
    </div>

    <div class="md-layout-item checkout-detail-container">
      <h4>You have selected:</h4>
      <div class="selected-pack-container">
        <div class="selected-pack-info md-layout md-size-33 md-small-size-50">
          <div class="md-layout-item md-size-20 md-small-size-20">
            <div class="circle">{{ pack.total_credit }}</div>
          </div>
          <div class="md-layout-item md-size-80 md-small-size-80">
            <h4>{{ pack.pack_name }}</h4>
            <p>{{ pack.pack_description }}</p>
          </div>
        </div>
        <div class="item-price">${{ pack.pack_price }}</div>
      </div>
      <form class="md-layout promo-input-form" v-if="!paymentCompleted">
        <div class="md-layout-item">
          <md-input
            type="text"
            name="promo"
            id="promo"
            autocomplete="off"
            v-model="promo"
            :disabled="isPromoApplied"
          />
        </div>
        <div class="md-layout-item">
          <md-button type="button" class="md-raised md-primary apply-btn" :disabled="isPromoApplied" @click="onApplyPromo" v-if="!isPromoApplied">APPLY</md-button>
          <md-button type="button" class="md-raised md-primary apply-btn" :disabled="isPromoApplied" @click="onApplyPromo" v-if="isPromoApplied">PROMO APPLIED</md-button>
        </div>
      </form>
      <div class="price-calculation-container">
        <div class="md-layout price-row">
          <div class="md-layout-item md-size-50 md-small-size-50 checkout-detail">Subtotal</div>
          <div class="md-layout-item md-size-50 md-small-size-50 checkout-detail">$ {{ subtotal.toFixed(2) }}</div>
        </div>
        <div class="md-layout price-row">
          <div class="md-layout-item md-size-50 md-small-size-50 checkout-detail">GST</div>
          <div class="md-layout-item md-size-50 md-small-size-50 checkout-detail">${{ gst.toFixed(2) }}</div>
        </div>
        <div class="md-layout price-row">
          <div class="md-layout-item md-size-50 md-small-size-50 checkout-detail">
            <strong>Discount</strong>
          </div>
          <div class="md-layout-item md-size-50 md-small-size-50 checkout-detail">-$ {{ discount.toFixed(2) }}</div>
        </div>
        <div class="md-layout price-row">
          <div class="md-layout-item md-size-50 md-small-size-50 checkout-detail">Grand Total</div>
          <div class="md-layout-item md-size-50 md-small-size-50 checkout-detail">$ {{ grandTotal.toFixed(2) }}</div>
        </div>
      </div>
    </div>
    <p class="terms-condition" v-if="!paymentCompleted">Please read all Terms & Conditions before purchasing your YM Class or Class Pack</p>
    <div class="md-layout footer-actions">
      <div class="back">
          <router-link to="/">Back</router-link>
      </div>
      <div class="pay-now"  v-if="!paymentCompleted">
        <md-button type="button" class="md-raised md-primary" :disabled="sending" @click="onPayNow">PAY NOW</md-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import response from '../assets/response'

export default {
  name: 'home',
  data: function () {
    return {
      promo: '',
      discountPercent: 5,
      isPromoApplied: false,
      applying: false,
      sending: false,
      paymentCompleted: false
    }
  },
  computed: {
    ...mapGetters({
      getAccount: 'getAccount',
      getPackList: 'getPackList',
      getSelectedPack: 'getSelectedPack'
    }),
    isPromoValid () {
      if (this.promo.length === 6) return true
      return false
    },
    pack () {
      return this.getPackList.find(p => p.pack_id === this.getSelectedPack)
    },
    subtotal () {
      if (this.isPromoApplied) return (this.pack.pack_price * 0.9)
      return this.pack.pack_price
    },
    discount () {
      return this.pack.pack_price * (this.discountPercent) / 100
    },
    gst () {
      return (this.pack.pack_price * 0.07)
    },
    grandTotal () {
      return this.subtotal + this.gst - this.discount
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.getAccount) {
        vm.$router.push('/signin')
      }
    })
  },
  mounted: async function () {
    try {
      let data = await this.fetchDataFromAPI()
      this.setPackList(data.pack_list)
    } catch (e) {
      console.warn(e)
    }
  },
  methods: {
    ...mapActions({
      setPackList: 'setPackList',
      selectPack: 'selectPack'
    }),
    fetchDataFromAPI () {
      // you can call to actual API
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          if (response.message === 'Success') resolve(response.data)
          else reject(response.message)
        }, 1000)
      })
    },
    onApplyPromo () {
      if (this.isPromoValid) this.isPromoApplied = true
    },
    onSelectPack (id) {
      this.selectPack(id)
    },
    onPayNow () {
      // Call api to pay grand total
      this.paymentCompleted = true
    }
  }
}
</script>
<style lang="scss">
$mainColor: #218ca5;
$secondColor: #47caca;
.checkout-container {
  display: block;
  text-align: left;
  background: #f2f2f2;
  height: 600px;
  width: 60%;
  margin: 30px auto;
  padding: 20px;
  h1 {
    font-family: "Inconsolata";
    font-weight: lighter;
    font-size: 24px;
    text-transform: uppercase;
    color: $mainColor;
  }
  .checkout-detail-container {
    width: 100%;
    background: #fff;
    padding: 10px;
    border: 1px solid skyblue;
    .selected-pack-container {
      display: flex;
      padding: 15px;
      .selected-pack-info {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        .circle {
          width: 50px;
          height: 50px;
          background: $mainColor;
          border-radius: 100px;
          border: none;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 15px auto;
        }
        h4 {
          color: $mainColor;
          margin: 0px 0px 0px 15px;
        }
        p {
          color: #888;
          font-size: 12px;
          margin: 0px 0px 0px 15px;
        }
      }
      .item-price {
        width: 40%;
        font-size: 16px;
        text-align: right;
        font-weight: bolder;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
  .promo-input-form {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    .md-input {
      background: #f7f7f7;
      border: none;
      height: 35px;
      font-weight: bold;
      padding: 10px;
      text-transform: uppercase;
      outline: none;
      width: 100%;
    }
    .apply-btn {
      height: 35px;
      box-shadow: none;
      background: $secondColor;
      color: #ffffff;
      font-size: 11px;
      font-weight: bold;
      margin: 0px;
      border-radius: 0px;
      &:disabled {
          background: lightgreen;
      }
    }

  }
  .price-calculation-container {
    border-top: 1px solid #f2f2f2;
    margin-top: 30px;
    padding-top: 15px;
    .price-row {
      margin: 10px auto;
      div:nth-of-type(2) {
        text-align: right;
        padding-right: 20px;
      }
    }
  }
  .terms-condition {
      font-size: 12px;
  }
  .footer-actions {
      display: flex;
      justify-content: space-between;
      .pay-now {
          width: 150px;
          .md-primary {
              background: $secondColor;
              font-size: 11px;
              font-weight: bold;
              color: #fff;
              box-shadow: none;
              width: 100%;
              border-radius: 30px;
          }
      }
  }
}
@media screen and (max-width: 400px) {
  .checkout-container {
    width: 95%;
    margin: 20px auto;
    padding: 20px 10px;
  }
}
</style>
