<template>
  <div class="md-layout all-pack-container" v-if="getPackList">
    <div
      class="md-layout-item md-size-33 md-small-size-50 single-pack-container"
      v-for="pack in getPackList"
      :key="pack.pack_id"
      @click="onSelectPack(pack.pack_id)"
    >
      <Pack :pack="pack" @click="onSelectPack()" />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Pack from '@/components/Pack.vue'
import response from '../assets/response'

export default {
  name: 'home',
  components: {
    Pack
  },
  data: function () {
    return {}
  },
  computed: {
    ...mapGetters({
      getAccount: 'getAccount',
      getPackList: 'getPackList'
    })
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.getAccount) {
        vm.$router.push('/signin')
      }
    })
  },
  mounted: async function () {
    try {
      let data = await this.fetchDataFromAPI()
      this.setPackList(data.pack_list)
    } catch (e) {
      console.warn(e)
    }
  },
  methods: {
    ...mapActions({
      setPackList: 'setPackList',
      selectPack: 'selectPack'
    }),
    fetchDataFromAPI () {
      // you can call to actual API
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          if (response.message === 'Success') resolve(response.data)
          else reject(response.message)
        }, 1000)
      })
    },
    onSelectPack (id) {
      console.log('click')
      console.log(id)
      this.selectPack(id)
      this.$router.push('/checkout')
    }
  }
}
</script>
<style lang="scss">
.all-pack-container {
  padding: 20px;
  max-width: 1100px;
  margin: 20px auto;
}
@media screen and (max-width: 350px) {
  .all-pack-container {
    padding: 5px;
    margin: 0px;
  }
}
</style>
