<template>
  <div class="md-layout signin-container md-alignment-center">
    <div class="md-layout-item form-container">
      <form novalidate class="md-layout md-alignment-center" @submit.prevent="validateUser">
        <md-card class="md-layout-item md-size-25 md-small-size-100">
          <md-card-header>
            <div class="md-title">Member Login</div>
          </md-card-header>

          <md-card-content>
            <md-field :class="getValidationClass('email')">
              <label for="email">Email</label>
              <md-input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                v-model="form.email"
                :disabled="sending"
              />
              <span class="md-error" v-if="!$v.form.email.required">The email is required</span>
              <span class="md-error" v-else-if="!$v.form.email.email">Invalid email</span>
            </md-field>
          </md-card-content>
          <md-card-content>
            <md-field :class="getValidationClass('password')">
              <label for="password">Password</label>
              <md-input
                type="password"
                name="password"
                id="password"
                autocomplete="off"
                v-model="form.password"
                :disabled="sending"
              />
              <span class="md-error" v-if="!$v.form.password.required">The password is required</span>
            </md-field>
          </md-card-content>
          <!-- <md-progress-bar md-mode="indeterminate" v-if="sending" /> -->
          <md-button type="submit" class="md-raised md-primary login-btn" :disabled="sending">Log In</md-button>
        </md-card>
      </form>
    </div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email, minLength } from 'vuelidate/lib/validators'
import { mapActions } from 'vuex'
export default {
  data: function () {
    return {
      form: {
        email: '',
        password: ''
      },
      sending: false,
      lastUser: null
    }
  },
  mixins: [validationMixin],
  validations: {
    form: {
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(4)
      }
    }
  },
  methods: {
    ...mapActions({
      addAccount: 'addAccount'
    }),
    getValidationClass (fieldName) {
      const field = this.$v.form[fieldName]
      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty
        }
      }
    },
    clearForm () {
      this.$v.$reset()
      this.form.email = null
      this.form.password = null
    },
    loginUser () {
      this.sending = true
      // Instead of this timeout, here you can call your API
      window.setTimeout(() => {
        this.addAccount({
          email: this.form.email
        })
        this.sending = false
        this.clearForm()
        this.$router.push('/')
      }, 1500)
    },
    validateUser () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.loginUser()
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.signin-container {
  height: 100vh;
  background: #212025;
  form {
    .md-card {
      background: #fff;
      height: 400px;
    }
  }
}
.md-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.md-field .md-input,
.md-field .md-textarea {
  border-bottom: 1px solid gray;
}
.md-button.login-btn,
.md-button-clean.login-btn {
  background: #3f2652;
  color: #fff;
  display: block;
  margin: 10px auto;
}
@media screen and (max-width: 400px) {
  .form-container {
    width: 90%;
    margin: 40px;
    padding: 20px 10px;
  }
}
</style>
