<template>
  <div class="pack" v-if="pack">
    <div class="md-layout md-alignment-left tag-container">
      <div v-if="pack.tag_name" class="popular-tag">{{ pack.tag_name }}</div>
    </div>
    <h4>{{ pack.pack_name }}</h4>
    <div class="circle">{{ pack.total_credit }}</div>
    <div class="paragraph-container">
      <p>{{ pack.pack_description }}</p>
      <p>Choose form 360 weekly classes</p>
      <p>7 days booking window</p>
    </div>
    <p class="total-price">${{ pack.pack_price.toFixed(2) }}</p>
    <p class="each-price">${{ pack.estimate_price.toFixed(0) }} per class!</p>
  </div>
</template>
<script>
export default {
  props: {
    pack: {
      type: Object,
      required: true
    }
  },
  methods: {}
}
</script>
<style scoped lang="scss">
$mainColor: #218ca5;
.pack {
  border: 1px solid #f1f1f1;
  cursor: pointer;
  transition: 0.3s;
      &:hover {
        box-shadow: 0px 3px 6px #aaa;
    }
  .tag-container {
    height: 20px;
    .popular-tag {
      width: 80px;
      text-align: center;
      font-size: 10px;
      font-weight: 200;
      text-transform: uppercase;
      background: #222;
      color: #fff;
      margin: 10px 1v0px;
      transition: 0.5s;
    }

  }
  h4 {
    color: $mainColor;
    font-weight: 700;
    font-size: 16px;
  }
  .circle {
    width: 50px;
    height: 50px;
    background: $mainColor;
    border-radius: 100px;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
  }
  .paragraph-container {
    color: #555;
    font-size: 13px;

    p {
      margin: 5px 0px;
    }
  }
  .total-price {
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin: 30px 0px 0px 0px;
  }
  .each-price {
    font-size: 12px;
    color: #666;
    margin: 0px 0px 20px 0px;
  }
}
</style>
